* {
    font-family: 'Inconsolata', monospace;
    color: #18A900;
    background-color: black;
    font-size: 18px;
}

h1 {
    padding: 20px;
    font-size: 32px;
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(155, 224, 134), 0 0 20px #49ff18, 0 0 30px #000000, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

section {
    width: 600px;
    height: 570px;
    margin: 10px;
    padding: 20px;
    position: relative;
    display: inline-block;
    border: .5px solid #18A900;
    border-radius: 3px;
}

.input {
    width: 48%;
    position: absolute;
    left: 5%;
}

textarea {
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    resize: none;
    position: relative;
    border: none;
    outline: none;
}

.botones-input,
.botones-ouput {
    position: relative;
    display: flex;
    justify-content: center;
}

.ouput {
    width: 30%;
    left: 63%;
}

.boton {
    margin: 3px 20px;
    padding: 10px 20px;
    position: relative;
    width: 200px;
    height: 40px;
    background: #000000;
    border: 1.5px solid #18A900;
    border-radius: 10px;
    cursor: pointer;
}

.boton:hover {
    background-color: #0b3101;
    box-shadow: 0px 4px 4px hsla(0, 0%, 99%, 0.3);
}

footer {
    position: relative;
    font-size: 10px;
    text-align: center;
    margin: 30px 0px 0px 0px;
}